gridview child {
    max-width: 100px;
    max-height: 20px;
}

.ss_entry {
    padding: 2px;
    margin: 0px;
}

.ss_entry:focus-within {
    border: 2px solid green;
}

.ss_entry_focused {
    border: 2px solid green;
}

.ss_entry:selected {
    background-color: black;
    border: 2px solid green;
}


GtkLabel { background-color: #AAAAAA;}
