gridview child {
    max-width: 100px;
    max-height: 20px;
}

.ss_cell {
    padding: 2px;
    margin: 0px;
    background-color: #fcf8eb;
    border-radius: 0;
    border-spacing: 0px;
}

.ss_cell:focus-within {
    border: 2px solid green;
}

.ss_cell_focused {
    border: 2px solid green;
}

.ss_cell:selected {
    background-color: black;
    border: 2px solid green;
}

box, entry {
    margin: 0px;
}

child {
    padding: 0px;
    outline-offset: 0px;
}
