gridview child {
    max-width: 100px;
    max-height: 20px;
}

.ss_cell {
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 0px;
    background-color: white;
    border-radius: 0;
    border-spacing: 0px;
}

.ss_cell:focus-within {
    border: 1px solid green;
}

.ss_cell_focused {
    border: 2px solid green;
}

box, entry {
    margin: 0px;
}

entry {
    min-height: 12px;
}

entry.formula_bar {
    min-height: 22px;
}

child {
    padding: 0px;
    outline-offset: 0px;
}

/* override GTK's default placeholder style */
entry > text > placeholder, label.separator {
  opacity: 1;
  text-shadow: none;
}
