.TableCell {
    text-align: center;
    overflow: hidden;
    max-width: 72px;
    min-width: 72px;
    overflow-wrap: normal;
}

.SelectedTableCell {
    text-align: center;
    overflow-x: auto;
    border:1px solid green;
}
